.footer-div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer-separator {
    border: white solid 1px;
    width: 100%;
    margin: 0;
}

.main-footer {
    background-color: rgb(192, 192, 192, .5);
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}

.main-footer-container {
    align-items: center;
    margin: 0;
}

.main-footer img {
    margin: 0;
}

.main-footer-container ul {
    text-align: end;
    margin: 0;
}

.main-footer-container li {
    list-style: none;
    justify-content: space-around;
}

.main-footer h3 {
    color: white;
    text-align: right;    
}

.footer-nav img {
    width: 80px;
}

@media (max-width: 600px) {
    .main-footer {
        flex-direction: column;
    }
  
    .footer-nav {
        display: flex;
        width: 100%;
        text-align: center;
    }
  
    .footer-nav li {
        text-align: center;
    }
  }