.main-footer {
    background-color: grey;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}

.main-footer-container {
    align-items: center;
    margin: 0;
}

.main-footer img {
    margin: 0;
}

.main-footer-container ul {
    text-align: end;
    margin: k0;
}

.main-footer-container li {
    list-style: none;
    justify-content: space-around;
}

.main-footer h3 {
    color: white;
    text-align: right;    
}

.footer-nav img {
    width: 80px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .main-footer {
        flex-direction: column;
    }

    .footer-nav {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .footer-nav li {
        text-align: center;
    }
}